<!--<div id="menu"><a href="/cimek">Számlázási címeim</a><a href="megrendeles">Megrendelés</a><a href="/megrendelesek">Megrendelések listázása</a></div>-->
<table class = "table table-bordered">
    <thead>
        <tr style="text-align: center;">
            <th><a href="/cimek">Számlázási címeim</a></th>
            <th><a href="/megrendeles">Megrendelés</a></th>
            <th><a href="/megrendelesek">Megrendelések listázása</a></th>
        </tr>
    </thead>
</table>